<footer class="bd-footer py-4 py-md-5 mt-5 bg-light">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a class="navbar-brand d-inline-flex align-items-center" href="#">
      <img src="https://res.cloudinary.com/dyl3cklgp/image/upload/v1659449947/furancho-project/nrlcj7empjxlboxvtsu2.png" alt="navar-icon" class="footer-icon mb-3" width="100" height="80">
    </a></a>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Designed and built with all the love in the world by <a href="https://github.com/marialalin">María Vence</a> and <a href="https://github.com/Lechuza7">Marc Cuesta</a> during their <a href="https://www.ironhack.com/en">IronHack </a> FullStack Development Bootcamp</a>.</li>
        
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/furanchos">Furanchos</a></li>
          <li class="mb-2"><a href="/furanchos/about">Que é un furancho</a></li>
          <li class="mb-2"><a href="/furanchos/aboutus">Quen somos?</a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</footer>