<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/furanchos">Furanchos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/furanchos/new">Engadir furancho</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/furanchos/{{furancho.id}}/update">Actualizar furancho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Que é un furancho?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Quen somos?</a>
        </li>
          Usuari@
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Favoritos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Pechar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>