<div class="mb-5">
    <h1 class="mb-4">Que é un furancho?</h1>

    <p>Un <b>furancho é un local de tempada</b> (entre febreiro e maio), xeralmente habilitado nunha adega particular, <b>onde se venden os excedentes do viño que o propietario elabora para o seu propio consumo</b>, xunto coas tapas que lle sirvan de acompañamento. </p>

    <p>Co paso do tempo, os furanchos foron diversificando os produtos que vendían con produtos a base de porco (xamón, chourizo, zorza, raxo) e, nalgún caso, tamén de pratos cociñados de todo tipo, ata rematar por realizar unha actividade similar á dos bares e restaurantes, pero sen estaren sometidos á normativa aplicable a estes establecementos. </p> 

    <p>A partir dos anos 2000-2005 <a href="https://www.lavozdegalicia.es/noticia/arousa/2011/09/29/proliferacion-furanchos-preocupa-hosteleros-pontevedra/0003_201109A29C6991.htm"> comezaron a ser denunciados</a> polos propietarios doutros negocios hostaleiros, que vían na súa actividade unha competencia desleal non regliada. Este conflito deu lugar á publicación no 2008 da <a href="https://www.lavozdegalicia.es/noticia/galicia/2011/11/02/xunta-solo-permitira-abrir-furanchos-21-municipios/0003_201111G2P6991.htm">normativa autonómica </a>  que buscaba definir as características que deben reunir e as actividades que podían desenvolver: </p>

    <ul>
        <li> Defínense os furanchos como aquelas adegas que teñen como actividade principal a de subministrar mediante prezo o viño excedente do consumo propio que procede dos seus viñedos. </li><br>

        <li> Identificaranse ao público mediante a exhibición, nun lugar visible, dunha placa identificativa coa clasificación de furancho. Esta placa pode ir acompañada do tradicional ramallo de loureiro. </li><br>

        <li>Deberán contar coa autorización de apertura expedida polo concello, para un período determinado que dependerá da declaración previa de produción anual na Consellería do Medio Rural. O período de apertura non poderá ser superior a 3 meses e estará comprendido, con carácter xeral, entre o 1º de decembro e o 30 de xuño. </li><br>

        <li>Non poderán servir viño embotellado, senón que este ten que proceder directamente do barril. As comidas que sirvan deberán proceder de establecementos autorizados e estar perfectamente etiquetadas e documentadas, e en ningún caso serán sometidos a elaboración ou transformación no propio furancho.</li><br>

        <li>Os servizos ofertados e os seus prezos deberán estar expostos nun lugar visible e de modo lexible.
        A Lei de Turismo de Galicia de 2011 estableceu que os furanchos, que non se consideran establecementos de restauración, tiñan que ter unha regliación propia que se recolleu no decreto 215/2012.</li><br>
    </ul>

    <p>O termo furancho foi recollido por vez primeira por Eladio Rodríguez co significado de "Taberna, tienda de vinos de escasa importancia". Franco Grande matizou esta definición no senso de "Lugar o casa particliar donde se vende vino nuevo". Ningún dos lexicógrafos compendiados no Diccionario de diccionarios dá este significado para a voz loureiro.</p>  
</div>

<div class="d-flex justify-content-center">
    <img src="https://furancheiro.com/wp-content/uploads/2022/05/Comedor-Interior-Furancho-Vincios.jpg" alt="" height="300px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Furancho_en_Redondela.jpg/1280px-Furancho_en_Redondela.jpg" alt="" height="300px">
</div>
