<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <h2>Furanchos</h2>
    <form action="/furancho/create" method="POST">

      <div class="input-group mb-1">
        <span class="input-group-text"><i class="fa fa-wine-bottle fa-fw"></i></span>
        <input type="text" name="name" class="form-control" placeholder="Nome do Furancho">
      </div>

      <div class="input-group mb-1">
        <span class="input-group-text"><i class="fa fa-phone fa-fw"></i></span>
        <input type="number" name="phone" class="form-control" placeholder="Teléfono">   
      </div>

      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-envelope fa-fw"></i></span>
        <textarea name="address" class="form-control" placeholder="Enderezo"></textarea>
        </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

    </form>
    <hr>
      <div class="d-grid">
        <a class="btn btn-secondary" href="/register">Register</a>
      </div>
  </div>
</div>

Nome:
Enderezo:
Teléfono:
Aberto dende:  ata: 
Horario:
Localización (coordenadas lonxitude, latitude):
Accesible:
Zona exterior:
Menú:

Foto:
