.g-map {
    height: 400px;
    width: 100%;
}

.background-detail {
    background-color: #C60053;
}
.fa-wheelchair-move.icon, .fa-utensils.icon, .fa-tree.icon {
    color:#c60053;
}
.card-img-top {
    height: 200px;
}


.g-map {
    height: 500px;
    width: 100%;
}

.inputFuranchoName {
    border-style: solid;
    padding-left: 20px;
    border-radius: 9px;
    border-color: #C60053;
    border-width: 2px;
    padding-top: 3px;
    margin-top: 0;
}

.like {
    border:none;
    outline: none;

}

.register-btn {
    background-color:#c60053 !important;
}