.background-detail {
    background-color: #C60053;
}

.fa-wheelchair-move.icon,
.fa-utensils.icon,
.fa-tree.icon {
    color: #c60053;
}

.card-img-top {
    height: 200px;
}

.g-map {
    height: 500px;
    width: 100%;
}

.inputFuranchoName {
    border-style: solid;
    padding-left: 20px;
    border-radius: 9px;
    border-color: #C60053;
    border-width: 2px;
    padding-top: 3px;
    margin-top: 0;
}

.div-grey {
    position: relative;
}

.like {
    border: none;
    outline: none;
    position: absolute;
    background-color: white;
    right: 6%;
    top: 3%;
}

.register-btn {
    background-color: blue !important;
}

.btn-list {
    background-color: #C60053;
    color: white;
    width: 50%;
}

.form-border {
    border-radius: 6px;
}

.comment-icon {
    border-style: solid;
    border-radius: 9px;
    border-color: #C60053;
}

.color-icon-detail {
    color: #C60053;
}

.new-icon-color {
    background-color: #C60053;

    color: white;
}

.box-shadow {
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
}

.description {
    text-align: justify;
}

.createdat {
    text-align: right;
    font-size: 12px;
}

.comment-list {
    list-style: none;
    margin-bottom: 25px;
}

.comment-color {
    color: grey;
    font-size: 16px;
}

.comment-margin {
    margin-left: 51px;
    text-align: justify;

}

.btn-pink {
    background-color: #C60053;
    color: white;
}

.btn-pink:hover {
    background-color: #7e0235;
    color: white;
}

.green-btn {
    background-color: rgb(119, 158, 84);
    color: white;
}

.green-btn:hover {
    background-color: rgb(95, 128, 67);
    color: white;
}

.long-btn {
    text-align: center;
}

.margin-footer-login {
    margin-bottom: 150px;
}

.margin-footer-register {
    margin-bottom: 75px;
}

.window-marker {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 0px;
    ;
}

.window-marker-link {
    text-align: end;
}