.favorites {
    background-color: rgb(248, 249, 250);
}

.avatar-profile {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.favorites>p {
    text-align: center;
    color: black;
    margin-top: 3%;
    font-size: 25px;
}

.data {
    padding: 3%;
    background-color: rgb(248, 249, 250);
    text-align: center;
}

.data-profile {
    text-align: center;
}

.btn-delete {
    background-color: rgb(112, 112, 112);
    color: white;
}

.btn-delete:hover {
    background-color: rgb(81, 82, 83);
    color: white;
}